@import url('https://fonts.googleapis.com/css?family=Dancing+Script');
body
{
	max-width: 900px;
	background-color: black;
	color: white;
	font-family: 'Dancing Script';
	display: block;
	margin:0 auto;
}
#contenido
{
  width: 900px;
	margin-top: 5px;
}
header
{
  padding:10px 10px 10px 20px;
	background-color: #5b7989;
	border-radius: 10px 10px 0 0;
}
h1
{
	text-shadow: 2px 4px #02010A;
	display:inline;
	text-align: left;
}
a[href="index.html"]
{
	text-decoration: none;
}
nav{text-align: right;}
nav .enlace
{
	color:white;
	padding-left:20px;
	font-size: 25px;
	padding-bottom: 10px;
}

.contenedor1
{

	background-color: #82C3A6;
}
div .contenedor1
{

	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px;
}
div .contenedor
{
	padding-top:3%;
	padding-bottom:2.5%;
	text-align: center;
}
.contenedor
{

	background-color: #D5C75F;
	column-count: 2;
}
#imagen1
{
	padding: 10px;
	text-align: center;

}
#imagen1 img
{
	width:90%;
	-webkit-filter:drop-shadow(2px 2px 2px #02010A);
	filter: drop-shadow(2px 2px 2px #02010A);

}
@-webkit-keyframes sombraanimada
{
  from { box-shadow: 2px 2px #02010a;}
  to{box-shadow: 2px 2px #82c3a6;}
}
#imagen3 img
{
	margin-top: 20px;
	height:200px;
	width:370px;
	transform: rotate(none);
	transition: rotate, 1s;
	-webkit-filter:drop-shadow(2px 2px 2px #02010A);
	filter: drop-shadow(2px 2px 2px #02010A);

}
#imagen3 img:hover
{	animation: sombraanimada 1s;
	transform: rotate(10deg);
 	animation-fill-mode: forwards;
}
#imagen4 img
{
	margin-top: 20px;
	height:200px;
	width:370px;
	-webkit-filter:drop-shadow(2px 2px 2px #02010A);
	filter: drop-shadow(2px 2px 2px #02010A);
	transform: translate(0, 0);
	transition: traslate, 1s;
}

#imagen4 img:hover
{
	transform: translate(20px, -5px);
	animation: sombraanimada 1s;
	animation-fill-mode: forwards;
}

div .enlace2
{
	font-size: 22px;

	color:black;
}
footer
{ height:110px;
	column-count: 4;
	column-gap: normal;
	column-fill: auto;
	background-color: #C6D5C5;
	border-radius: 0 0 10px 10px;
	color: black;
	margin-bottom: 5px;
	padding: 10px 10px 10px 20px;
}
footer > h2
{
	-webkit-margin-before:0;
	-webkit-margin-after:0.1em;
}
p{-webkit-margin-before:0;}
