@import url('https://fonts.googleapis.com/css?family=Dancing+Script');
body
{
	max-width: 900px;
	background-color: black;
	color: white;
	font-family: 'Dancing Script';
	display: block;
	margin:0 auto;
	animation: AnimaAbajoArriba 1s;
}
#contenido
{
	display: flex;
	flex-direction: column;
}
header
{
  padding:10px 10px 10px 20px;
	background-color: #5b7989;
	border-radius: 10px 10px 0 0;
}
h1
{
	text-shadow: 2px 4px #02010A;
	display:inline;
	text-align: left;
}
a[href="paisajes.html"]
{
	text-decoration: none;
}
nav{text-align: right;}
nav .enlace
{
	color:white;
	padding-left:20px;
	font-size: 25px;
	padding-bottom: 10px;
}
div .contenedorP, div .contenedorB
{
	padding: 3% 3% 2% 3%;
	text-align: center;
}

#contenido
{
	display: flex;
	flex-direction: column;
	background-color: #D5C75F;
}
.contenedorP, .contenedorB
{	box-sizing: border-box;
	display: flex;
	flex-direction: row;
}

.contenedorP > div, .contenedorB> div
{
	text-align: center;
	padding: 10px;
	margin: 10px;
	width: 28%;
}
img[src$=".jpg"]
{
	border: 2px solid Black;
  width: 250px;
}
footer
{ height:110px;
	column-count: 4;
	column-gap: normal;
	column-fill: auto;
	background-color: #C6D5C5;
	border-radius: 0 0 10px 10px;
	color: black;
	margin-bottom: 5px;
	padding: 10px 10px 10px 20px;
}
footer > h2
{
	-webkit-margin-before:0;
	-webkit-margin-after:0.1em;
}
p{-webkit-margin-before:0;}

#imag1 img
{
	-webkit-filter:blur(10px);
	filter: blur(10px);
}
.contenedorP div:nth-child(even)
{
	-webkit-filter:grayscale(100%);
	filter: grayscale(100%);
}
#imag3 img
{
	-webkit-filter:sepia(90%);
	filter: sepia(90%);
}
.contenedorB div:nth-child(odd)
{
	-webkit-filter:grayscale(100%);
	filter: grayscale(100%);
}
@keyframes AnimaAbajoArriba
{
  0%	{
    		margin-top:150%;
  		}
  60%	{
    		margin-top:-15%;
  		}

	100%{
    		margin-top:0%;
  		}
}
@media screen and (max-width: 900px)
{
	h1
		{ display: block;
			text-align:center;
		}
	nav
		{
			text-align: center;
		}
	.contenedorP, .contenedorB
		{
			display: flex;
			flex-direction: column;
		}

.contenedorP div , .contenedorB div
	{
			width: 100%;
		}

img[src$=".jpg"]
		{
			width: 90%;
		}
footer
		{
				column-count: 1;
				height:80%;
				font-size:200%;
				padding:5%;
		}
img[src$="svg"],img[src$="png"]
		{
			width:5%;
			height:3%;
		}

}
